@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Report Generations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*prescription record by date*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
</head>
<body class="container-fluid">
    <form asp-controller="Report" asp-action="PrescriptionReport" method="post">
        Start: <input type="text" id="txtStartDate" name="startDate" class="startDate form-control" /><br />
        End: <input type="text" id="txtEndDate" name="endDate" class="endDate form-control" /><br />
        <input type="submit" value="Submit" class="btn btn-primary" />
        <hr />
        @if (ViewBag.Data != null)
        {
            <table class="table">
                <tr>
                    <th>Prescription ID</th>
                    <th>Prescription Date</th>
                    <th>Patient ID</th>
                    <th>Patient First Name</th>
                    <th>Patient Last Name</th>
                    <th>Medicine Name</th>
                    <th>Quantity</th>
                </tr>
                @foreach (System.Data.DataRow dr in ViewBag.Data.Rows)
                {
                    <tr>
                        <td>@dr["Presc_id"]</td>
                        <td>@dr["Prescr_Date"]</td>
                        <td>@dr["PatientId"]</td>
                        <td>@dr["Firstname"]</td>
                        <td>@dr["Lastname"]</td>
                        <td>@dr["M_Name"]</td>
                        <td>@dr["quantity"]</td>
                    </tr>
                }
            </table>
        }

        @*This is javascript code and there AJAX call*@
        <script type="text/javascript">
            $(function () {
                $(".startDate").datepicker({
                    autoclose: true,
                    format: 'dd/mm/yyyy'
                }).on('changeDate', function (selected) {
                    var minDate = new Date(selected.date);
                    minDate.setDate(minDate.getDate() + 1);
                    $('.endDate').datepicker('setStartDate', minDate);
                });

                $(".endDate").datepicker({
                    autoclose: true,
                    format: 'dd/mm/yyyy'
                }).on('changeDate', function (selected) {
                    var minDate = new Date(selected.date);
                    minDate.setDate(minDate.getDate() - 1);
                    $('.startDate').datepicker('setEndDate', minDate);
                });
            });
        </script>
    </form>
</body>
</html>